<a href="https://colab.research.google.com/github/KIRAN-MK-211/Hands-on-Git/blob/master/ML_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/Lab1_Doc.csv')

In [3]:
df

    Color Toughness Fungus Appearance Poisonous
0   GREEN      HARD     NO   WRINKLED       YES
1   GREEN      HARD    YES     SMOOTH        NO
2   BROWN      SOFT     NO   WRINKLED        NO
3  ORANGE      HARD     NO   WRINKLED       YES
4   GREEN      SOFT    YES     SMOOTH       YES
5   GREEN      HARD    YES   WRINKLED       YES
6  ORANGE      HARD     NO   WRINKLED       YES

In [10]:
hypo = []
for i in range(len(df.columns)-1):
  if type(i) == str:
    hypo.append("Null")
  elif type(i) == int:
    hypo.append(0)
  else:
    hypo.append(0.0)

In [11]:
for i in range(len(df)):
  if df.loc[i, 'Poisonous'] == "YES":
    for j in range(len(hypo)):
      if hypo[j] == "Null":
        hypo[j] = df.iloc[i, j]
      elif hypo[j] != df.iloc[i,j]:
        hypo[j] = "?"

In [12]:
hypo

['?', '?', '?', '?']